<div class="container px-5 px-sm-0 pt-3">
  <div class="row">
    <!--左側-->
    <%= render "books/left", book: @book %>
    <!--左側ここまで-->
    <!--右側-->
    <div class="col-md-8 offset-md-1">

      <h2>Group Detail</h2>
      <table class="table">
        <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>紹介文</th>
              <th>メンバー</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        <tbody>
        <tr>
          <td><%= attachment_image_tag @group, :image, size: "30x30", format:'jpeg', fallback:"no_image.jpg" %></td>
          <td><%= @group.name %></td>
          <td><%= @group.introduction %></td>
          <td>
            <%= User.find(@group.owner_id).name %><br>
              <% @group.users.each do |member| %>
                <%= member.name %>
              <% end %>
          </td>
          <% if @group.owner_id == current_user.id %>
            <td><%= link_to "Notice an Event", new_group_events_path(@group.id), class: "btn btn-sm btn-info" %></td>
            <td><%= link_to "Edit", edit_group_path(@group.id), class:"btn btn-sm btn-success" %></td>
          <% else %>
            <% if @group.users.include?(current_user) %>
              <td><%= link_to "Leave this group", leave_group_path(@group.id), class: "btn btn-sm btn-danger" %></td>
              <td></td>
            <% else %>
              <td><%= link_to "Join this group", join_group_path(@group.id), class: "btn btn-sm btn-info" %></td>
              <td></td>
            <% end %>
          <% end %>
        </tr>
        </tbody>
      </table>

    </div>
    <!--右側ここまで-->
  </div>
</div>